<!DOCTYPE html>
<html>
  <head>
    <title>React Test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/react.js"></script>
    <script type="text/javascript" src="/javascripts/JSXTransformer.js"></script>
    <script type="text/jsx" src="javascripts/components/post.jsx"></script>
  </head>
  <body>
     <%- body -%>
  </body>
</html>
